.text--warning {
  color: $color-red--light !important;
}

.text--lightgrey {
  color: $color-grey--light !important; 
}

.text--grey {
  color: $color-grey !important;
}

.text--fone {
  color: $color-fone !important;
}

.text-center {
  text-align: center;
}