// FONT
$default-font-size: 1.6rem;

//COLORS
$color-bg-primary: #3A4655; // calc bg
$color-bg-secondary: #425062; //btn 
$color-bg--light: #8794a5;
$color-bg--darker: #1d242d; // calc box-shadow
$color-bg--darkest: #111317; //body

$color-white: #FFF;

$color-red--light: #D95D4E;

$color-grey: #979797;
$color-grey--light: #DADADA;

$color-fone: #ffdb65;

